body{
    background-color:rgb(234, 220, 199);
    color: green;
}

h1{
    font-size:36px;
    text-align:center;
}

h2{
    font-size:24px;
    text-align:center;
}

p{
    font-size:16px;
    color:teal;
    text-align:left;
}

/*this is a comment */

.common{ /*this is a class */
    background-color: rgb(28, 64, 31);
    color: white;
    border: 2px solid white;
    position: absolute; 
    z-index: 10;
    
}

.left{
    top: 115px;
    left: 15px;
    width: 800px;
    bottom: 40px;
    background-color: rgb(165, 81, 42);
    color: black;
}

.main{
    top: 115px;
    left: 130px;
    right: 140px;
    bottom: 40px;
}

.right{
    top: 115px;
    right:15px;
    width: 200px;
    bottom: 100px;
}

.footer{
    bottom: 15px;
    height: 50px;
    left: 15px;
    right: 15px;
    text-align: center;
    background-color: burlywood;
    border: 6px solid rgb(12, 53, 12);
    position: fixed;

}

.redtext{
    color: red;

}
